* {
    padding: 0;
    margin: 0;
    font-family: "roboto", 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #f0f9ff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 25px;
    padding-left: 50px;
    align-items: flex-start;
}

.header-icon {
    width: 30px;
}
.header-left {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.header-left > input {
    width: 650px;
    background-color: #e7f2f9;
    height: 30px;
    border-radius: 15px;
    border: none;
}
.header-right {
    display: grid;
    grid-template-columns:50px 70px 200px;
    align-items:center ;
}

.header-right > p {
    font-size: 18px;
    font-weight: bold;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 100px 200px;
}
.header-bottom-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.profile-pic {
    width: 50px;
    border-radius: 50%;
}
.profile-big {
    width: 70px;
    border-radius: 50%;
}
.header > p {
    display: inline;
}

.header-button {
    background-color: #0ea5e9;
    color: white;
    width: 100px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
}
.sidebar {
    background-color: #0ea5e9;
    grid-row: 1/3;
    color: white;
    display: grid;
    justify-content: center;
    padding-top: 20px;
}

.sidebar > h2 {
    font-size: 28px;
    font-weight: bold;
}

.sidebar li {
    margin-bottom: 20px;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
}

.main-content {
    background-color: #e7f2f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}
.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 10px;
}

.project {
    /* width: 400px; */
    height: 200px;
    background-color: white;
    border-radius: 8px;
    border-left: 7px solid orange;
    padding: 20px;
    display: grid;
    gap: 5px;
}

.interact-icon {
    width: 25px;
}
.interact-pack {
    display: flex;
    gap: 20px;
    justify-self: end;
    align-self: flex-end;
}
.right-content {
    display: grid;
    padding: 20px 20px;
    gap: 20px;
}
.announcement {
    background-color: white;
    display: grid;
    padding: 30px;
    border-radius: 10px;
}

.announcement-content {
  background-color: white;  
  border-bottom: 1px solid rgb(183, 182, 182);
  height: 100px;
  font-size: 0.8em;
}

.trending {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.trending-content {
    display: grid;
    grid-template-columns: 50px 200px;
    font-size: 0.9em;
}

.main-content h2+h2 {
    margin-left: 20px;
}
